In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
# this is a new function for reading the input and output names
#then here we are separating the input and output with the variables
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
#sklearn is also one of the library ,we are going to use the libray in every machine learnin project ,its like a default 
#library for ML
#here we are separating the input and output dataset for training and testing prpose ,we are taking 70% for training and 30% for testing testin
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [7]:
#creating module for RandomForestRegressor applying the parameters with the hepl of grid search
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'n_estimators':[10, 20],'criterion':['squared_error', 'absolute_error'],'max_features':['sqrt', 'log2']}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(X_train, Y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 20]},
             verbose=3)

In [8]:
#seeing best combination parameters
print("best parameters{}:".format(grid.best_params_))

best parameters{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 10}:

In [9]:
#viewing the all combinations parameters modules in table
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.091348,0.005081,0.008995,0.000001,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.835408,0.795611,0.802064,0.799221,0.768378,0.800136,0.021343,5
1,0.153311,0.002799,0.010594,0.000490,squared_error,sqrt,20,"{'criterion': 'squared_error', 'max_features':...",0.865351,0.779304,0.784840,0.812631,0.766990,0.801823,0.035104,2
2,0.085950,0.006719,0.009395,0.001496,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.841068,0.782065,0.788935,0.803714,0.759488,0.795054,0.027068,7
3,0.152512,0.001624,0.010794,0.000748,squared_error,log2,20,"{'criterion': 'squared_error', 'max_features':...",0.851238,0.772604,0.796744,0.813692,0.773986,0.801653,0.029110,4
4,0.174899,0.002096,0.007996,0.000001,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.856829,0.782146,0.813130,0.806135,0.760549,0.803758,0.032386,1
5,0.342403,0.010551,0.010394,0.000489,absolute_error,sqrt,20,"{'criterion': 'absolute_error', 'max_features'...",0.848138,0.771314,0.800658,0.810150,0.767935,0.799639,0.029227,6
6,0.172701,0.004116,0.008196,0.000979,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.840540,0.753650,0.776966,0.816710,0.753509,0.788275,0.034859,8
7,0.311821,0.043843,0.009395,0.001355,absolute_error,log2,20,"{'criterion': 'absolute_error', 'max_features'...",0.851953,0.778031,0.803959,0.809956,0.764401,0.801660,0.030166,3

In [10]:
#here we are predicting the value of teste input with the created module

future_prediction=grid.predict(X_test)

In [11]:
#here we are checking errors inbtween teste input value predicted by our modul and test output

from sklearn.metrics import r2_score
r_score=r2_score(Y_test,future_prediction)
r_score

0.8455073158327658

In [12]:
#importing pickle library
#and saving the best module
import pickle
filename="RFG grid.sav"
pickle.dump(grid,open(filename,"wb"))

In [13]:
loaded_module=pickle.load(open("RFG grid.sav","rb"))
result=loaded_module.predict([[26,33.70,3,1,0]])
result

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([5514.414635])