In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd

In [2]:
#here weare reading the dataset from the inbuild function of pandas
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
# this is a new function for reading the input and output names
#then here we are separating the input and output with the variables
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
#creating module for DecisionTreeRegressor applying the parameters  with the hepl of gridsearchcv
from sklearn.model_selection import GridSearchCV 

from sklearn.tree import DecisionTreeRegressor

param_grid = {'criterion':['squared_error','friedman_mse'],'splitter':['best', 'random'],'max_features':['log2','sqrt']}


grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)


grid.fit(independent, dependent)

grid

Fitting 5 folds for each of 8 candidates, totalling 40 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse'],
                         'max_features': ['log2', 'sqrt'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [9]:
#seeing best combination parameters
print("best parameters{}:".format(grid.best_params_))

best parameters{'criterion': 'squared_error', 'max_features': 'log2', 'splitter': 'best'}:

In [10]:
#viewing the all combinations parameters modules in table
re=grid.cv_results_

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.019190,0.001938,0.006797,7.473730e-04,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.708591,0.586391,0.736503,0.739713,0.727808,0.699801,0.057730,1
1,0.012592,0.000799,0.006396,1.354814e-03,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.465143,0.555045,0.694766,0.619072,0.710560,0.608917,0.090970,8
2,0.016390,0.001855,0.006396,4.900390e-04,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.699479,0.588260,0.719531,0.695135,0.714518,0.683385,0.048418,2
3,0.011793,0.000400,0.007196,1.468659e-03,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.688734,0.596934,0.692155,0.720675,0.666511,0.673002,0.041751,5
4,0.016790,0.001469,0.005797,3.998996e-04,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.523381,0.638394,0.737679,0.677490,0.648288,0.645047,0.069987,6
5,0.014591,0.002869,0.006396,4.888700e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.678697,0.543921,0.687362,0.518600,0.650861,0.615888,0.070599,7
6,0.016790,0.002134,0.006197,3.997566e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.657851,0.651275,0.627374,0.708820,0.737601,0.676584,0.040436,3
7,0.011392,0.000489,0.005997,3.568323e-07,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.535003,0.661824,0.729140,0.690226,0.750405,0.673320,0.075641,4

In [12]:
future_prediction=grid.predict([[26,33.70,3,1,0]])
print("future prediction{}:".format(future_prediction))

future prediction[3877.30425]:

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(