In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
# readed dataset
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# herewe are changing the catagrical input to numerical input 
# new function
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
# this is a new function for reading the input and output names
#then here we are separating the input and output with the variables
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#then here we are separating the input and output with the variables
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[["charges"]]
independent
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
#creating module for RandomForestRegressor applying the parameters with the hepl of grid search
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'n_estimators':[10, 20],'criterion':['squared_error', 'absolute_error'],'max_features':['sqrt', 'log2']}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(independent, dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 20]},
             verbose=3)

In [7]:
#seeing best combination parameters
print("best parameters{}:".format(grid.best_params_))

best parameters{'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 20}:

In [8]:
#viewing the all combinations parameters modules in table
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.131324,0.008703,0.011994,3.284588e-03,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.841584,0.759029,0.842618,0.818159,0.820894,0.816457,0.030451,6
1,0.215675,0.020042,0.012193,1.164740e-03,squared_error,sqrt,20,"{'criterion': 'squared_error', 'max_features':...",0.859422,0.774931,0.852232,0.823978,0.839203,0.829953,0.030045,1
2,0.107337,0.004584,0.009595,1.356185e-03,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.841735,0.779031,0.845091,0.808716,0.832048,0.821324,0.024674,5
3,0.196287,0.003005,0.010994,5.091228e-07,squared_error,log2,20,"{'criterion': 'squared_error', 'max_features':...",0.853850,0.769557,0.855718,0.826392,0.841133,0.829330,0.031681,2
4,0.255453,0.007574,0.007995,3.234067e-07,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.827672,0.781141,0.823765,0.812160,0.826588,0.814265,0.017455,7
5,0.495116,0.008952,0.010794,3.995184e-04,absolute_error,sqrt,20,"{'criterion': 'absolute_error', 'max_features'...",0.843848,0.781296,0.838508,0.829632,0.839572,0.826571,0.023105,3
6,0.251855,0.004096,0.007996,6.641573e-07,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.839069,0.770922,0.830226,0.811087,0.812440,0.812749,0.023454,8
7,0.481328,0.053497,0.010191,1.173460e-03,absolute_error,log2,20,"{'criterion': 'absolute_error', 'max_features'...",0.850945,0.769553,0.848599,0.812605,0.845679,0.825476,0.031256,4

In [10]:
future_prediction=grid.predict([[26,33.70,3,1,0]])
print("future prediction{}:".format(future_prediction))

future prediction[6503.828024]:

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(