In [1]:
#pandas is a one of the library ,its use to read the database like excel and number related files , 
#it is used for separating the input and output data set
import pandas as pd

In [3]:
#here weare reading the dataset from the inbuild function of pandas
dataset=pd.read_csv("Salary_Data.csv")

In [4]:
# readed dataset
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [6]:
#then here we are separating the input and output with the variables
independent=dataset[["YearsExperience"]]
dependent=dataset[["Salary"]]
independent
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [13]:
#sklearn is also one of the library ,we are going to use the libray in every machine learnin project ,its like a default 
#library for ML
#here we are separating the input and output dataset for training and testing prpose ,we are taking 70% for training and 30% for testing testing
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)
X_train,X_test,Y_train,Y_test

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
     Salary
 22  101302
 5    56642
 16   66029
 8    64445
 14   61111
 23  113812
 20   91738
 1    46205
 29  121872
 6    60150
 4    39891
 18   81363
 19   93940
 9    57189
 7    54445
 25  105582
 3    43525
 0    39343
 21   98273
 15   67938
 12   56957,
     Salary
 2    37731
 28  122391
 13   57081
 10   63218
 26  116969
 24  109431
 27  112635
 11   55794
 17   83088)

In [14]:
#the main think is here , we are creating a model here 
#by using the sklear library of function . LinearRegression algorithm . y=wX+b<>module created  with input and output training dataset
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)
regressor

LinearRegression()

In [15]:
#then here we are checking the value of w and b ,by using sklearn library
weight=regressor.coef_
weight
baias=regressor.intercept_
baias

array([26777.3913412])

In [16]:
#here we are predicting the value of teste input with the created module
y_predict=regressor.predict(X_test)

In [17]:
#here we are checking errors inbtween teste input value predicted by our modul and test output
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_predict)
r_score

0.9740993407213511

In [20]:
#here we are saving the best module with the picklelibrary
import pickle
filename="final_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

In [21]:
# here we are checking our module how it's working again once
loaded_model=pickle.load(open("final_model_linear.sav",'rb'))

In [24]:
n=int(input("enter the experience"))
result=loaded_model.predict([[n]])
result

enter the experience15

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])