In [1]:
mango=20
orange=30
count=mango+orange
print(count)

50

In [2]:
ravi_kumar=45
selvamani=34
total_difference=ravi_kumar-selvamani
print(total)

NameError: name 'total' is not defined

In [3]:
ravi_kumar=45
selvamani=34
total_difference=ravi_kumar-selvamani
print(total_difference)

11

In [4]:
age=40
mark=48
print("detials")
print("age:",age)
print("total mark:",mark)

detials
age: 40
total mark: 48